#top {
	background-color: #CCC;
	height: 50px;
	width: 95%;
	position: fixed;
	z-index: 10;
	line-height: 50px;
	padding-left: 5%;
}
a{
	text-decoration: none;
}
#top ul {
	list-style-type: none;
	text-align:center; 
	line-height:50px; 
}

#top  ul li {
	float:left; 
	height:30px; 
	line-height:30px; 
	text-align:center; 
	margin-right:5%;
	} 
#top  ul li img{
	width: 30px;
	height: 30px;
}
	
#left {
	color: white;
	background: black;
	position:fixed;
	top:60px;
	left: 2%;
	width: 15%;
	height: 90%;
	z-index: 10;
	text-align: center;
}
#left  #message a{
	margin-left: 5%;
	background: grey;
	color: white;
	display: block;
	width: 90%;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
}

#right {
	height: 90%;
	width: 80%;
	position: absolute;
	right: 1%;
	top:60px;
	
}
#right img{
	margin-top: 3%;
	width: 100%;
	height: 90%;
}
#right .table{
	width: 20%;
	height: 30%;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10px;
}
 #right  #button button{
	width: 100px;
	height: 50px;
	margin-top: 20px;
	
	margin-left: 70%;
}