BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #004e82; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: ו; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.gbook_answer {
	COLOR: #ff9900; FONT-WEIGHT: bold
}
.white {
	COLOR: #ffffff
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #000000
}
A:visited {
	COLOR: #000000
}
A:hover {
	COLOR: #ee0000
}
A:active {
	COLOR: #000000
}
a2 {
	TEXT-DECORATION: none
}
a2:link {
	COLOR: #ffffff
}
a2:visited {
	COLOR: #ffffff
}
a2:hover {
	COLOR: #ee0000
}
a2:active {
	COLOR: #ffffff
}
#gbook_head {
	BACKGROUND-COLOR: #f5f4fa; MARGIN: 0px auto; WIDTH: 780px; HEIGHT: 70px
}
#gbook_content {
	BACKGROUND-COLOR: #f5f4fa; MARGIN: 0px auto; WIDTH: 780px
}
.gbook_msg_list {
	BORDER-BOTTOM: #ff9900 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ff9900 1px solid; BACKGROUND-COLOR: #fff6dd; MARGIN: 0px auto 10px; WIDTH: 98%; BORDER-TOP: #ff9900 1px solid; BORDER-RIGHT: #ff9900 1px solid
}
.msg_bar {
	BORDER-BOTTOM: #cccccc 1px solid; LINE-HEIGHT: 26px; MARGIN: 8px; HEIGHT: 26px
}
.gbook_usrname {
	FLOAT: left; COLOR: #1172c3; FONT-WEIGHT: bold
}
.msg_time {
	FLOAT: right
}
.msg_content {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.6em; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; WORD-BREAK: break-all; PADDING-TOP: 0px
}
.reply_content {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 1.6em; BACKGROUND-COLOR: #f5f4fa; MARGIN: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 10px
}
.msg_page {
	LINE-HEIGHT: 26px; HEIGHT: 26px
}
#gbook_form {
	TEXT-ALIGN: left
}
#gbook_foot {
	LINE-HEIGHT: 30px; MARGIN: 0px auto; WIDTH: 780px; HEIGHT: 30px; COLOR: #ffffff
}
.clear {
	HEIGHT: 0px; CLEAR: both; OVERFLOW: hidden
}
